  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .mat-table {
    overflow-x: scroll;
  }
  
  .mat-header-cell {
    background-color: lightgray;
  }
  
  .cell-padding-header{
    padding: 10px;
    text-align: justify;
  }
  .cell-padding{
    padding: 10px;
  }
  