.mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 600px) {
    .mat-dialog-container {
      align-items: left;
    }
  }